/* Layout Elements */

body {
    margin: 0;
    color: #0e3b52;
    font-family: 'Montserrat';
}

a {
    color: #0e3b52;
    text-decoration: inherit;
    transition: all 0.5s ease;
}

a:hover {
    color: #fc6053;
}

/* Navigation */

.site-nav-wrapper {
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #f4f4f4;
    margin-bottom: 96px;
}

.site-nav-container {
    display: flex;
    justify-content: space-between;
}

.site-nav {
    align-self: center;
    font-weight: 700;
}

.site-nav-link.active-link {
    color: #fc6053;
}

.site-nav-link.active-link:hover {
    color: #0e3b52;
}

.site-nav li {
    display: inline-block;
}

.site-nav li+li {
    padding-left: 24px;
}

.site-logo {
    height: 40px;
}

/* Focus Area */

.focus-area-wrapper {
    position: relative;
    height: 424px;
    margin-bottom: 92px;
}

.focus-area-background-container {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: -1;
}

.focus-area-background-container img {
    left: 24px;
    position: absolute;
}

.focus-area-content-container {
    display: flex;
}

.focus-area-content {
    width: 49%;
    padding: 0 16px 24px 0;
    background-color: #ffffff;
    box-shadow: 0 0 16px 16px #ffffff;
}

.focus-area-header {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 1;
}

.focus-area-description {
    line-height: 1.8;
    font-weight: 500;
}

.focus-area-tagline {
    font-weight: 700;
    padding-top: 8px;
}

.focus-area-buttons {
    display: flex;
    margin-top: 32px;
}

/* Events Section */

.events-section-wrapper {
    background-color: #f6f7f8;
    padding: 64px 0;
}

.events-header {
    font-size: 2.5em;
    margin: 32px 0;
}

.events-container {
    display: flex;
}

.events-results {
    width: 64%;
    display: flex;
    flex-wrap: wrap;
}

.event-wrapper {
    width: 50%;
}

.event-container {
    margin: 8px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.event-wrapper a:hover .event-container {
    box-shadow: 0 0 16px 0 #0000002e;
}

.event-image-container {
    position: relative;
}

.event-image-container img {
    width: 100%;
}

.event-image-details {
    position: absolute;
    bottom: 5px;
    background: #00000094;
    color: #fff;
    width: 100%;
    padding: 8px 16px;
}

.event-image-details i.fas {
    font-size: .8em;
    padding-right: 8px;
}

.event-details {
    padding: 8px 16px;
}

.event-title {
    color: #0e3b52;
    font-weight: 800;
    font-size: 1.1em;
    padding-bottom: 8px;
}

.event-date-location {
    color: #6e8997;
    padding-bottom: 8px;
}

/* Events Filters */

.events-filters {
    flex-grow: 1;
    padding: 0 32px;
    min-width: 368px;
}

.event-filters-form > div + div {
    margin-top: 24px;
}

.filter-text-wrapper {
    border: 1px solid #dbe0e7;
    background-color: #fff;
    border-radius: 64px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.filter-text-wrapper > i {
    padding: 0 8px;
    color: #fc6053;
}

.filter-text-wrapper > input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 1.1em;
    line-height: 1.5;
}

.filter-text-wrapper > input::placeholder {
    color: #879da9;
    opacity: 1;
}

.event-filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-filter-row-label {
    color: #829aa5;
    font-weight: 600;
}

.event-filter-row-inputs {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.event-filter-row-inputs select {
    border-width: 0 0 2px 0;
    border-color: #fc6053;
    background: transparent;
    font-size: 1.1em;
    line-height: 1.5;
    outline: none;
}

.filter-row-input-seperator {
    color: #829aa5;
    font-weight: 600;
    padding: 0 8px;
}

.filter-cost-input {
    width: 56px;
}

/* Reusable Styles */

.container {
    max-width:  1200px;
    flex-grow: 1;
}

.wide-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
}

.highlight-text {
    color: #fc6053;
}

/* Buttons */

.large-button {
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: 700;
    transition: all .25s ease;
}

.large-button i {
    padding-right: 16px;
    color: #fc6053;
    font-size: 1.2em;
    transition: all .25s ease;
}

.large-button:hover {
    background-color: #fc6053;
    color: #fff;
}

.large-button:hover i {
    color: #fff;
}

.large-button + .large-button {
    margin-left: 24px;
}

.solid-button {
    background-color: #fc6053;
    color: #fff;
    box-shadow: 0 0 24px 0 #ecedf2;
}

.solid-button i {
    color: #fff;
}

.solid-button:hover {
    background-color: #fff;
    color: #fc6053;
    box-shadow: 0 0 0 0 #ecedf2;
}

.solid-button:hover i {
    color: #fc6053;
}

/* Text Radio Buttons */

.radio-large-wrapper {
    border: 1px solid #dbe0e7;
    border-radius: 64px;
    display: flex;
}

.radio-large-wrapper label {
    border-radius: 64px;
    color: #fc6053;
    padding: 9px 24px;
    transition: all 0.5s ease;
    flex-grow: 1;
    text-align: center;
    margin: 4px;
    font-weight: 600;
}

.radio-large-wrapper input[type="radio"] {
    display: none;
}

.radio-large-wrapper input[type="radio"]:checked + label {
    background-color: #fc6053;
    color: #fff;
}

/* Responsive Styles */
