/* Layout Elements */

body {
    margin: 0;
    color: #0e3b52;
    font-family: 'Montserrat';
}

a {
    color: #0e3b52;
    text-decoration: inherit;
}

a:hover {
    color: #fc6053;
}

/* Navigation */

.site-nav-wrapper {
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #f4f4f4;
    margin-bottom: 96px;
}

.site-nav-container {
    display: flex;
    justify-content: space-between;
}

.site-nav {
    align-self: center;
    font-weight: 700;
}

.site-nav-link.active-link {
    color: #fc6053;
}

.site-nav li {
    display: inline-block;
}

.site-nav li+li {
    padding-left: 24px;
}

.site-logo {
    height: 40px;
}

/* Focus Area */

.focus-area-wrapper {
    position: relative;
    height: 424px;
    margin-bottom: 92px;
}

.focus-area-background-container {
    position: absolute;
    right: 0;
    margin-right: -380px;
    transition: all 0.5s ease;
    z-index: -1;
}

.focus-area-content-container {
    display: flex;
}

.focus-area-content {
    width: 49%;
    padding: 0 16px 24px 0;
    background-color: #ffffff;
    box-shadow: 0 0 16px 16px #ffffff;
}

.focus-area-header {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 1;
}

.focus-area-description {
    line-height: 1.8;
    font-weight: 500;
}

.focus-area-tagline {
    font-weight: 700;
    padding-top: 8px;
}

.focus-area-buttons {
    display: flex;
    margin-top: 32px;
}

/* Events Section */

.events-section-wrapper {
    background-color: #f6f7f8;
    padding-top: 64px;
}

.events-header {
    font-size: 2.5em;
    margin: 32px 0;
}

/* Reusable Styles */

.container {
    max-width:  1200px;
    flex-grow: 1;
}

.wide-wrapper {
    display: flex;
    justify-content: center;
}

.highlight-text {
    color: #fc6053;
}

/* Buttons */

.large-button {
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: 700;
    transition: all .25s ease;
}

.large-button i {
    padding-right: 16px;
    color: #fc6053;
    font-size: 1.2em;
    transition: all .25s ease;
}

.large-button:hover {
    background-color: #fc6053;
    color: #fff;
}

.large-button:hover i {
    color: #fff;
}

.large-button + .large-button {
    margin-left: 24px;
}

.solid-button {
    background-color: #fc6053;
    color: #fff;
}

.solid-button i {
    color: #fff;
}

.solid-button:hover {
    background-color: #fff;
    color: #fc6053;
}

.solid-button:hover i {
    color: #fc6053;
}

/* Responsive Styles */
